/* Resetting browser defaults + full height page */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Basic Style - Font and Size */
body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

/* Ensure that flex containers don't go over 100% */
*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }

/* Navigation bar flexbox style for top and bottom */
.container-top, .container-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

/* Give top + bottom menu items a little breathing room */
.container-top div, .container-bottom div {
    padding: 15px 15px;
}

/* Remove default link formatting */
nav a {
    text-decoration: none;
    color: rgb(70, 70, 70);
}

/* Push the selected div and all following divs to the right */
.push-right {
    margin-left: auto;
}

/* Define size and margin for Google apps icon in top-right menu */
#apps-icon {
    height: 24px;
    width: 24px;
    margin: 3px -5px 0px -5px;
}



/* Create top-right login button */
#sign-in {
    background-color: rgb(66, 133, 244);
    color: white;
    font-weight: 700;
    padding: 7px 10px;
    border-radius: 5px;
    margin-left: -5px;
}

/* Create flexbox for main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    flex-grow: 1; /* This makes main grow and sticks footer to bottom */
}

/* Create flexbox for whole page */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Keep header and footer from shrinking inside .wrapper */
header, footer {
    flex-shrink: 0;
}

/* Search bar container */
.search-input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 45px;
    padding: 5px;
    border: 0.1px solid rgb(212, 212, 212);
    border-radius: 30px;
    margin: 12px 0px 5px 0px;
}

/* Search container hover effect */
.search-input-div:hover, #sign-in:hover {
    box-shadow: 0 1px 8px 0 rgba(27, 28, 31, 0.28);
    border-color: rgb(245,245,245);
}

/* Remove blue highlight on input click */
input:focus {
    outline:none;
}

/* Define sizes for searchbar icons */
#glass-icon, #mic-icon {
    height: 25px;
    width: 25px;
}

/* Style invisible search bar */
input[type=text] {
    width: 500px;
    padding: 12px;
    border-radius: 50px;
    border-style: none;
    border-width: 1px;
    max-width: 90%;
}

/* Style two search buttons */
.search-button {
    background-color:rgb(245, 245, 245);
    color: rgb(70, 70, 70);
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 10px 5px;
}

/* Hover style for search buttons */
button:hover {
    color: black;
    border: solid 1px rgb(220, 220, 220);
}

/* Footer-specific styles */
.container-bottom {
    background-color: rgb(245, 245, 245);
    border-top: solid 1px rgb(220, 220, 220);
}