/* Basic Style - Font and Size */
body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

/* Ensure that flex containers don't go over 100% */
*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }

/* Top Navigation Bar Style */
.container-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: grey;
}

.container-top div {
    padding: 5px 15px;
}

/* Push the selected div and all following divs to the right */
.push-right {
    margin-left: auto;
}

#apps-icon {
    height: 30px;
    width: 30px;
    margin: 2px -2px 0px -2px;
}